

<%for(var a in autor){%>
  <img src="<%= autor[a].foto %>"  alt="DANIEL" class="img-rounded" height="60%" width="30%">
  <h1>Pagina del Autor</h1>
  <h2> Autor : Daniel Puc Aguilar</h2>
  <h2> Estudio en el Instituto Tecnológico de Chetumal, Mexico</h2>
<%}%>